<h1>Bienvenido a Houstly </h1>

<table>
  <tr>
    <td>Email:</td>
    <td>
      <%= @user.email %>
    </td>
  </tr>
  <tr>
    <td>First Name:</td>
    <td> <%= @user.first_name %></td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td> <%= @user.last_name %></td>
  </tr>
  <tr>
    <td>Password:</td>
    <td> <%= @user.password %></td>
  </tr>
  <tr>
    <td>Birthdate:</td>
    <td> <%= @user.birthdate %></td>
  </tr>
  <tr>
    <td>Sex:</td>
    <td> <%= @user.sex %></td>
  </tr>
</table>
<br/>

<%= link_to 'Places', user_places_path(current_user) %>
