<h1>Common areas!</h1>
<table>
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>image</td>

    <td></td>
    <td></td>
  </tr>

  <%= form_for (@common_area), url: {action: "create"} do |f| %>
    <tr>
      <td><%= f.text_field :title %></td>
      <td><%= f.text_field :description %></td>
      <td><%= f.text_field :image_path, :size => 100 %></td>
      <td><%= f.submit 'Add', class: 'btn btn-primary' %></td>
    </tr>
  <% end %>

  <%
  @common_areas = @place.common_areas
  @common_areas.each do |common_area| %>
      <%= form_for ([@place,common_area]) do |f| %>
      <tr>
        <td><%= f.text_field :title %></td>
        <td><%= f.text_field :description %></td>
        <td><%= f.text_field :image_path, :size => 100 %></td>

        <td><%= f.submit 'Update', class: 'btn btn-primary' %>
        <td>
            <%= f.submit 'Delete', class: 'btn btn-primary' %>
            <!-- #button_to "Delete", common_area, method: :delete, data: { confirm: "Are you sure you wish to delete #{common_areas.name} #{common_areas.description}?" }, class: "btn btn-danger"
         -->
         </td>
      </tr>
      <% end %>
  <% end %>
</table>
<br>
<%= link_to 'Back', edit_place_path(@place) %>
