<%
  @music_path = @place.music_path

%>
<header class="banner navbar navbar-default navbar-static-top dark-header" role="banner" data-transparent-header="true">
  <div class="top-nav">
    <div class="container">
      <div class="row col-md-12">
        <div class="top-nav-text">
          <p>Bienvenidos a <%=@name%></p>
        </div>
        <div class="top-nav-icon-blocks">
          <%
          if !@music_path.nil? && !@music_path.empty?
          %>
          <div class="icon-block">
            <p>
              <button onclick="playAud()" type="button">
                <i id ="play_pause" class="fa fa-pause" aria-hidden="true"></i>
              </button>
            </p>
          </div>


          <div class="icon-block">
            <p>
              <audio id ="music_player" src="<%= audio_path @music_path%>"  autoplay="autoplay">

              </audio>
            </p>
          </div>
          <%
          end
          %>
          <div class="icon-block">
            <p>
              <a href='mailto:<%=@email%>'>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span>email</span>
              </a>
            </p>
          </div>
          <div class="icon-block">
            <p>
              <a href='<%=@location_url%>'>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Estamos en</span>
              </a>
            </p>
          </div>
          <div class="icon-block">
            <p>
              <a href='tel:<%=@cellphone%>'>
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <span><%=@cellphone%></span>
              </a>
            </p>
          </div>
          <div class="icon-block">
            <p>
              <a href="https://www.facebook.com/PsygonSurfCamp">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <span></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div id="logo">
          <a href="./">

          <img class="logo-trans logo-reg" src="<%=asset_path(@logo_path)%>" height="48" width="100" alt="Hotel Finca El Cielo">
          <img class="logo-main logo-reg" src="<%=asset_path(@logo_path)%>" height="48" width="50" alt="Hotel Finca El Cielo">
          </a>
      </div>
   </div>
   <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul id="menu-primary-navigation" class="nav navbar-nav">
         <li class="menu-cuartos"><a href="#rooms">Cuartos</a></li>
         <li class="menu-cuartos"><a href="#activities">Actividades</a></li>
         <li class="menu-paquetes"><a href="#tours">Excursiones</a></li>
         <li class="menu-reservar"><a href="#">Reservar</a></li>
     </ul>
   </nav>
 </div>
</header>
