
<div id='<%=@webcomponent.name%>'>
  <section id="themo_featured_1" class=" features ">
    <div class="container">
      <div class="features-inner">
        <div class="row">
          <div class="section-header col-xs-12 centered">
            <h2><%= @webcomponent.name %></h2>
            <p><%= @webcomponent.description %></p>
          </div><!-- /.section-header -->
        </div><!-- /.row -->
        <div class="row">
          <%
          @imagedescriptions = @webcomponent.imagedescriptions
          @imagedescriptions.each do |imagedescription|
            tour_title = imagedescription.name
            tour_description = imagedescription.description
            tour_image = asset_path(imagedescription.image_path)
          %>

          <div class="col-md-6">
            <div class="feature-block">
              <img width="555" height="290" src='<%=tour_image%>' class="feature-img-1 wp-post-image" alt="">
              <h3 class="feature-title-1"><%=tour_title%></h3>
              <div class="feature-text-1">
                <p><%=tour_description%></p>
              </div>

            </div><!-- /.feature-block -->
          </div><!-- /.col-md-6 -->
          <%end%>

        </div><!--/row-->
      </div>
    </div><!-- /.container -->
  </section>
</div>
