<html lang="es-CO" xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>

 <%
  @place
  domains = request.host.split(".")
  if domains.count > 1
    firstSub = request.host.split(".").first
    if Place.where(:name_id => firstSub).present?
      @place = Place.find_by(:name_id => @placeId)
    else
      secondSub = request.host.split(".").second
      @place = Place.find_by(:name_id => @placeId)
    end

  end
  %>
  place1
  <%#=@place.name%>
  <%
  unless @place
    if Place.where(:name_id => params[:id]).present?
      @place = Place.find_by(:name_id => @placeId)
    end
  end
  %>
  place2
  <%#=@placeId%>
  <%

  unless @placeId
    @place = Place.find_by(:name_id => "finca")
  end
  %>
  place3
  <%#=@placeId%>
  <%


  @name_id =@place.name_id
  @name = @place.name
  @location = @place.location_name
  @image_url = asset_path("#{@name_id}_slider1.jpg")
  @facebook_url = @place.facebook_url
  @email = @place.email
  @cellphone = @place.cellphone
  @logo_path = @place.logo_path
  @location_url = @place.location_url
  @description = @place.description
  @video = @place.video_url
  @thumb_images = @place.max_thumb_images

 %>

  <%= render 'modules/header' %>
  <%= render 'modules/slider' %>
  <%= render 'modules/videofotos' %>
  <style scoped="">
  section#themo_rooms_1{padding-top:75px; padding-bottom:75px}
  </style>
  <%= render 'modules/webcomponents' %>
</div>
casa
<%=request.subdomains(0).first%>
<%=request.host%>

casa
</html>
