<h1>Tours!</h1>

<%= render "form" %>


<table>
    <%
    tours = current_place.tours
    tours.each do |tour| %>
    <tr>
      <td>
        <%= tour.name %>
        <%= tour.description %>
        <%= tour.picture %>
      </td>

      <td><%= link_to "Edit", edit_tour_path(tour), class: "btn btn-default" %></td>
      <td>
        <%= button_to "Delete", tour, method: :delete, data: { confirm: "Are you sure you wish to delete #{tour.name} #{tour.description}?" }, class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
</table>
