<h1>Tours!</h1>

<%= render "form" %>

<br>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
    <%
    tours = current_place.tours
    tours.each do |tour| %>
    <tr>
      <td>
        <%= tour.name_id %>
      </td>
      <td>
        <%= tour.title %>
      </td>
      <td>
        <%= tour.description %>
      </td>

      <td><%= link_to "Edit", edit_tour_path(tour), class: "btn btn-default" %></td>
      <td>
        <%= button_to "Delete", tour, method: :delete, data: { confirm: "Are you sure you wish to delete #{tour.name_id} #{tour.title}?" }, class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
</table>
<br>
<%= link_to 'Places', places_path %>
