<h1>Cuartos!</h1>
<table>

  <tr>
    <td width="20%">Name id</td>
    <td width="30%">Title</td>
    <td width="20%"></td>
    <td width="20%"></td>

  </tr>

  <%= form_for (@room), url: {action: "create"} do |f| %>
    <tr>
      <td><%= f.text_field :name %></td>
      <td><%= f.text_field :description %></td>
      <td><%= f.text_field :image_path, :size => 100 %></td>
      <td><%= f.submit 'Add'%></td>
    </tr>
  <% end %>

  <%
  @rooms = @place.rooms
  @rooms.each do |room| %>
      <%= form_for ([@place,room]) do |f| %>
      <tr>
        <td><%= f.text_field :name %></td>
        <td><%= f.text_field :description %></td>
        <td><%= f.text_field :image_path, :size => 100 %></td>
        <td><%= f.submit 'Update', class: 'btn btn-primary' %></td>
        <td><%= f.submit 'Delete', class: 'btn btn-primary' %></td>
      </tr>
      <% end %>
  <% end %>

</table>
<br>
<%= link_to 'Back', edit_place_path(@place) %>
