<h1>Cuartos!</h1>

<%= render "form" %>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <%
  rooms = current_place.rooms
  rooms.each do |room| %>
  <tr>
    <td><%= room.name %></td>
    <td><%= room.description %></td>
    <td><%= link_to "Edit", edit_room_path(room), class: "btn btn-default" %></td>
    <td>
      <%= button_to "Delete", room, method: :delete, data: { confirm: "Are you sure you wish to delete #{room.name} #{room.description}?" }, class: "btn btn-danger" %>
    </td>

  </tr>

  <% end %>
</table>
<br>
<%= link_to 'Places', places_path %>
