<h1>Actividades!</h1>
<table>
  <tr>
    <td width="15%">Name</td>
    <td width="15%"> Description</td>
    <td width="50%">image</td>

    <td width="10%"></td>
    <td width="10%"></td>
  </tr>

  <%= form_for (@activity), url: {action: "create"} do |f| %>
    <tr>
      <td><%= f.text_field :title %></td>
      <td><%= f.text_field :description %></td>
      <td><%= f.text_field :image_path, :size => 100 %></td>
      <td><%= f.submit 'Add', class: 'btn btn-primary' %></td>
    </tr>
  <% end %>

  <%
  @activities = @place.activities
  @activities.each do |activity| %>
      <%= form_for [@place,activity] do |f|  %>
      <tr>
        <td><%= f.text_field :title %></td>
        <td><%= f.text_field :description %></td>
        <td><%= f.text_field :image_path, :size => 100 %></td>

        <td><%= f.submit 'Update', class: 'btn btn-primary' %>
        <td>
            <%= f.submit 'Delete', class: 'btn btn-primary' %>
            <!-- #button_to "Delete", activity, method: :delete, data: { confirm: "Are you sure you wish to delete #{activity.name} #{activity.description}?" }, class: "btn btn-danger"
         -->
         </td>
      </tr>
      <% end %>
  <% end %>
</table>
<br>
<br>
<%= link_to 'Back', edit_place_path(@place) %>
