<%= form_for @place do |f| %>
  <p>
    <b>Name ID:</b><br/>
    <%= f.text_field :name_id %>
    <br/>
    <b>Name:</b><br/>
    <%= f.text_field :name %>
    <br/>
    <b>Description:</b><br/>
    <%= f.text_field :description %>
    <br/>
    <b>Location:</b><br/>
    <%= f.text_field :location_name %>
    <br/>
    <b>Video url:</b><br/>
    <%= f.text_field :video_url %>
    <br/>
    <b>Number Sliders Images:</b><br/>
    <%= f.text_field :max_slider_images %>
    <br/>
    <b>Number Thumb Images:</b><br/>
    <%= f.text_field :max_thumb_images %>
    <br/>
  </p>
  <p>
    <%= f.submit "Guardar" %>
  </p>
<% end %>
