<h1>Edit Hotel</h1>

<table >
  <%= form_for @place do |f| %>
  <tr>
    <td width="15%">Name: </td>
    <td width="85%" >
      <%= f.text_field :name , :size => 150%>
    </td>
  </tr>
  <tr>
    <td>Description: </td>
    <td>
      <%= f.text_field :description, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>facebook_url: </td>
    <td>
      <%= f.text_field :facebook_url, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>email: </td>
    <td>
      <%= f.text_field :email, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>cellphone: </td>
    <td>
      <%= f.text_field :cellphone, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>logo: </td>
    <td>
      <%= f.text_field :logo_path, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>ubicacion mapa: </td>
    <td>
      <%= f.text_field :location_url, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>Location: </td>
    <td>
      <%= f.text_field :location_name, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>Video url: </td>
    <td>
      <%= f.text_field :video_url, :size => 150 %>
    </td>
  </tr>
  <tr>
    <td>Number Sliders Images: </td>
    <td>
      <%= f.text_field :max_slider_images %>
    </td>
  </tr>
  <tr>
    <td>Number Thumb Images: </td>
    <td>
      <%= f.text_field :max_thumb_images %>
    </td>
  </tr>
  <tr>
    <td><%= link_to "Rooms", place_rooms_path(@place) %></td>
  </tr>
  <tr>
    <td><%= link_to "Tours", place_tours_path(@place) %></td>
  </tr>
  <tr>
    <td><%= link_to "activities", place_activities_path(@place) %></td>
  </tr>
  <tr>
    <td><%= link_to "common areas", place_common_areas_path(@place) %></td>
  </tr>
  <tr>
    <td><%= f.submit "Submit" %></td>
  </tr>
  <tr>
    <td><%= link_to 'Back', places_path %></td>
  </tr>

  <% end %>
</table>
